<div class="container"> 

<div class="card mb-5">
    <div class="card-header bg-primary text-white d-flex justify-content-between align-items-center">
    <h5> {{blog_title}}</h5>
    <p class=""> Posted by {{username}} on {{format_date date}}</p>
    </div>
    <div class="card-body text-dark">
        {{content}}
    </div>
</div>

<div class="input-group mb-3">
  <input type="text" class="form-control" id="comment" placeholder="add a comment" aria-label="add a comment" aria-describedby="button-addon2">
  <div class="input-group-append">
    <button class="btn btn-primary" type="button" id="post-comment">Post</button>
  </div>
</div>

<h3>Comments:</h3>
<ul class="list-group bg-light">
 {{#each comments as |comment|}}   
  <li class="list-group-item d-inline-flex justify-content-between"> 
      <p> {{comment.content}}</p>
      <div class="d-inline-flex justify-content-between"> 
      <p> {{comment.username}} {{ format_date comment.date}}</p>
      </div>
      </li>
{{/each}}
</ul>
</div>