<div id="blog-posts">
  <div class="d-inline-flex mb-2">
	<h2>Your posts:  </h2>
	<p class="mt-2 ms-2">  (just click on the blog to edit, then click save.)</p>
   </div>
  {{#each blogs as |blog|}}

    <div class="card mb-5 blog-id" data-blogId={{id}}>
      <div
        class="card-header bg-primary text-white d-flex justify-content-between align-items-center"
      >
     
          <h5 class= "title" contenteditable="true" data-title="{{blog.blog_title}}" > {{blog.blog_title}}</h5>
 
        <div class="d-flex-grid">
          <p class="">
            Posted by
            {{blog.username}}
            on
            {{format_date blog.date}}</p>
    
        </div>
      </div>
      <div class="card-body text-dark">
        <p class = "content" contenteditable="true" data-content = {{blog.contnent}}>	{{blog.content}} </p>

		<br>
			<div class="edit-buttons">
		<button class="btn btn-sm btn-primary m-2"  data-edit="{{id}}"> save edits</button>
	
           
            <button
              class="btn btn-link text-primary me-3 fw-lighter delete"
              data-delete="{{id}}"
            >delete post</button>
          </div>
		
      </div>
	     <a href="/blogpost/{{blog.id}}" class="p-3 text-dark"> read the comments </a>
    </div>
	  </div>
  {{else}}
    <p> no blog posts yet!</p>
  {{/each}}
</div>

<div
  class="container d-flex justify-content-center flex-column align-items-center"
>

  <form class="bg-light p-3 mb-3 w-100">

    <h3>Create a blog post</h3>
    <div class="form-group">
      <label for="title">Title <span class="require"></span></label>
      <input type="text" class="form-control" id="blog-title" name="title" />
    </div>

    <div class="form-group mt-3">
      <label for="description">Content</label>
      <textarea
        rows="5"
        class="form-control"
        id="blog-content"
        name="description"
      ></textarea>
    </div>



    <div class="form-group mt-3">
      <button type="submit" class="btn btn-primary" id="create-blog">
        Create
      </button>
   

  </form>
</div>


