<div class="blog-posts">
  {{#each blogs as |blog|}}

    <div class="card mb-5 blog-id" data-blogId={{id}}>
      <div
        class="card-header bg-primary text-white d-flex justify-content-between align-items-center"
      >
        <a href="/blogpost/{{blog.id}}" class="text-decoration-none text-white">
          <h5> {{blog.blog_title}}</h5>
        </a>
        <div class="d-flex-grid">
          <p class="">
            Posted by
            {{blog.username}}
            on
            {{format_date blog.date}}</p>
          <div class="edit-buttons">
            <button
              type="button"
              class="btn btn-link text-white me-3"
              data-edit={{id}}
            >edit</button>
            <button
              type="button"
              class="btn btn-link text-white me-3"
              data-delete={{id}}
            >delete</button>
          </div>
        </div>
      </div>
      <div class="card-body text-dark">
        {{blog.content}}
      </div>
    </div>

  {{else}}
    <p> no blog posts yet!</p>
  {{/each}}
</div>

<div
  class="container d-flex justify-content-center flex-column align-items-center"
>

  {{! <form action="/dashboard" method="POST" class ="bg-light p-3 mb-3 w-100"> }}
  <form class="bg-light p-3 mb-3 w-100">

    <h3>Create a blog post</h3>
    <div class="form-group">
      <label for="title">Title <span class="require"></span></label>
      <input type="text" class="form-control" id="blog-title" name="title" />
    </div>

    <div class="form-group mt-3">
      <label for="description">Content</label>
      <textarea
        rows="5"
        class="form-control"
        id="blog-content"
        name="description"
      ></textarea>
    </div>

    {{! <div class="form-group">
    		        <p><span class="require">*</span> - required fields</p>
    		    </div> }}

    <div class="form-group mt-3">
      <button type="submit" class="btn btn-primary" id="create-blog">
        Create
      </button>
      {{! <button class="btn btn-default">
    		            Cancel
    		        </button> }}
    </div>

  </form>
</div>

{{! <a href="/blogpost" class="text-decoration-none"> 
<div class="card mb-5">
    <div class="card-header bg-warning text-white d-flex justify-content-between align-items-center">
    <h5> This is the blog title</h5>
    <h6> Posted by Nadybee on 07/18/2022</h6>
    </div>
    <div class="card-body text-dark">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
        Quas nam a minima nulla, at harum sed excepturi ab aliquid consectetur maxime, 
        accusantium inventore ratione error, fuga nostrum fugiat laudantium? Ex odit quaerat magni asperiores nemo maxime maiores vitae laudantium, voluptatibus eligendi blanditiis nihil tempora autem soluta eum quia nostrum sint quae. Nisi harum quos, veniam, natus amet incidunt ea magni sunt quo, illum laudantium assumenda.
    </div>
</div>
</a>
<div class="card">
    <div class="card-header bg-warning text-white d-flex justify-content-between align-items-center">
    <h5> This is the blog title</h5>
    <h6> Posted by Nadybee on 07/18/2022</h6>
    </div>
    <div class="card-body">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
        Quas nam a minima nulla, at harum sed excepturi ab aliquid consectetur maxime, 
        accusantium inventore ratione error, fuga nostrum fugiat laudantium? Ex odit quaerat magni asperiores nemo maxime maiores vitae laudantium, voluptatibus eligendi blanditiis nihil tempora autem soluta eum quia nostrum sint quae. Nisi harum quos, veniam, natus amet incidunt ea magni sunt quo, illum laudantium assumenda.
    </div>
</div>
		
	</div> }}

{{! <script src="../public/js/postblog.js"></script>    }}