<h3>blog posts</h3>
{{#each blogs}}
<a href="/blogpost" class="text-decoration-none"> 
<div class="card mb-5">
    <div class="card-header bg-primary text-white d-flex justify-content-between align-items-center">
    <h5> {{title}}</h5>
    <h6> Posted by {{username}} on {{date}}</h6>
    </div>
    <div class="card-body text-dark">
        {{content}}
    </div>
</div>
</a>
{{else}}
 <p> no blog posts yet!</p>
{{/each}}
   

