<h3 class="pb-3">Blog Posts:</h3>
{{#each blogs as |blog|}}
<a href="/blogpost" class="text-decoration-none"> 
<div class="card mb-5">
    <div class="card-header bg-primary text-white d-flex justify-content-between align-items-center">
    <h5> {{blog.blog_title}}</h5>
    <h6> Posted by {{blog.username}} on {{blog.date}}</h6>
    </div>
    <div class="card-body text-dark">
        {{blog.content}}
    </div>
</div>
</a>
{{else}}
 <p> no blog posts yet!</p>
{{/each}}
   

